package components

templ Table() {
	<div class="overflow-x-auto rounded-xl border border-gray-100">
		<table class="w-full text-left text-sm [&_thead_tr]:bg-gray-50/80 [&_thead_th]:px-4 [&_thead_th]:py-3 [&_thead_th]:text-xs [&_thead_th]:font-semibold [&_thead_th]:text-gray-500 [&_thead_th]:uppercase [&_thead_th]:tracking-wider [&_thead_th]:border-b [&_thead_th]:border-gray-100 [&_tbody_tr]:border-b [&_tbody_tr]:border-gray-50 [&_tbody_tr:last-child]:border-b-0 [&_tbody_tr:nth-child(even)]:bg-gray-50/40 [&_tbody_tr]:hover:bg-blue-50/30 [&_tbody_tr]:transition-colors [&_tbody_tr]:duration-100 [&_tbody_td]:px-4 [&_tbody_td]:py-3 [&_tbody_td]:text-gray-700">
			{ children... }
		</table>
	</div>
}
